section {
  padding: 3.75rem 0;
  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }
}

// service
.service {
  .h3 {
    font-size: 1.25rem;
    transition: all .25s ease 0s;
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }
  &-text {
    font-size: 2rem;
    line-height: 1.2;
    transition: all .25s ease 0s;
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }
}

.partnership {
  .h3 {
    font-size: 1.25rem;
    transition: all .25s ease 0s;
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }
}
// ai-tool
.ai-tools {
  border-radius: 20px;
  @include media-breakpoint-up(lg) {
    border-radius: 160px;
  }
  &-title {
    font-size: 2rem;
    @include media-breakpoint-up(lg) {
      font-size: 5rem;
    }
  }
}

// backtotop 
.toTop {
  @include media-breakpoint-down(md) {
    position: absolute;
    top: 32px;
    right: 12px;
  }
}
