html,body {
  background: #1e1e1e;
}

section {
  padding: 3.75rem 0;
  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }
}

// service
.service {
  .h3 {
    transition: all .25s ease 0s;
    @include h3toh6 
  }
  &-text {
    font-size: 2rem;
    line-height: 1.2;
    transition: all .25s ease 0s;
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }
}

.partnership {
  .h3 {
    transition: all .25s ease 0s;
    @include h3toh6
  }
}
// ai-tool
.ai-tools {
  border-radius: 20px;
  @include media-breakpoint-up(lg) {
    border-radius: 160px;
  }
  &-title {
    font-size: 2rem;
    @include media-breakpoint-up(lg) {
      font-size: 5rem;
    }
  }
}

// price 
.price {
  .h3 {
    @include h3toh6
  }
}

// rule
.rule {
  .h1 {
    font-size: 2rem;
    line-height: 1.2;
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }
  .h3 {
    @include h3toh6;
  }
  .rule-text {
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      line-height: 1.2;
    }
  }
}

// qna
.qna {
  .h3 {
    @include h3toh6;
  }
}

// backtotop 
.toTop {
  @include media-breakpoint-down(md) {
    position: absolute;
    top: 32px;
    right: 12px;
  }
}
