.dropdown-toggle {
  &::after {
    content: none;
  }
  .material-symbols-outlined {
    font-size: 14px;
    margin-left: 12px;
  }
}

.dropdown-menu {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  .dropdown-item {
    position: relative;
    transition: all .25s ease 0s;
    &.active {
      &::after {
        content: "\e5ca";
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .dropdown-title {
    font-size: $font-size-base * 0.75;
    line-height: 1.125;
  }
}